<h2>To Do Manager</h2>
<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to task.title, task_path(task.id) %></li>
  <%= link_to "Delete", task_path(task.id), method: :delete %>
  <% end %>
  
</ul>

<%= link_to "Create a task!", new_task_path %>